<header>
    <link rel="stylesheet" href="/views/css/index.css"></link>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create_account">Create Account</a>
        <a href="/login">Login</a>
        <a href="/upload">Upload Sound</a>
        <a href="/sounds">Sounds</a>
        <a href="/accounts">Account</a>
    </div>
</header>

<script type="text/javascript" src="/views/js/common.js"></script>