<!-- HTML PAGE -->
<html>
    <head>
    <title>Login</title>
    </head>

    <!-- Include header info -->
    <%- include ('./partials/header.ejs') %>

    <body>
        <h1>Login</h1>
        <p>Enter Your Info Below</p>
        <form action="">
            <label for="account_name">Account Name:</label>
            <input id="account_name" type="text"><br><br>
            <label for="account_password">Password:</label>
            <input id="account_password" type="text"><br><br>
            <button type="button" id="sendIt">Send Data</button>
        </form>
    </body>
</html>

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<script type="text/javascript" src="/views/js/login.js"></script>