<!-- HTML PAGE -->
<html>
    <head>
    <title>Upload</title>
    </head>

    <!-- Include header info -->
    <%- include ('./partials/header.ejs') %>

    <body>
        <h1>Upload Sounds</h1>
        <p>Must be a .wav or .mp3 and must be smaller than 5 MB</p>
        <br>

        <form enctype="multipart/form-data" action="">
            <label for="file_name">Sound To Upload:</label>
            <input id="myFile" name="myFile" type="file">
            <button type="button" id="sendIt">Send Data</button>
        </form>

        <form action="/uploadSound" enctype="multipart/form-data" method="post">
            <input type="file" class="admin__input" id="myFile" name="myFile" />
            <input class="admin__submit" type="submit" />
        </form>
    </body>
</html>

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<script type="text/javascript" src="/views/js/upload.js"></script>
